* {
  box-sizing: border-box;
}

.form-wrapper {
  width: 80%;
  max-width: 800px;
  margin: 100px auto;
}

.form-wrapper .search {
  border: 1px solid #ccc;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
}

.form-wrapper .suggestions {
  width: 100%;
  background: #e4e4e4;
}

.form-wrapper .suggestions p {
  margin: 0;
  padding: 10px 30px;
  cursor: pointer;
}

.form-wrapper .suggestions p:hover {
  background: #ccc;
}
